<ion-header>
  <ion-toolbar>
    <ion-title>Quote Library</ion-title>
    <ion-title>by Hector Melgoza 026277262</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <h3 class='ion-text-left'>Select your Favorite Quotes</h3>
  <ion-list *ngFor='let quoteGroup of quoteCollection'>
    <ion-item>
      <ion-label>
        <ion-icon [name]='quoteGroup.icon'></ion-icon>
        <h2>{{quoteGroup.category | uppercase}}</h2>
        <p>{{quoteGroup.quotes.length}} quotes</p>
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor='let quoteDetail of quoteGroup.quotes; let i=index'>
      <ion-item >
        <ion-label>
          <p class='quotePerson'>{{i+1}} {{quoteDetail.person}}</p>
          <p>{{quoteDetail.text}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side='start'>
        <ion-item-option (click) = 'onAddToFavorite(quoteDetail)'>
          <ion-icon name='heart'></ion-icon>
          Favorite
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>